$default-color: #EFEEED;
$default-color-active: #333333;

$valid-field-color: #00C8B3;

$invalid-field-color: #EB4A46;

$submit-default-color: #DDDCDC;
$submit-default-background: #F6F6F6;

$submit-active-color: #FFFFFF;
$submit-active-background: #00C8B3;
$submit-hover-opacity: 70%;
